<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtdd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.databasebackend.Dao.DishDao">
    <select id="searchByName" resultType="Dish">
        select * from `dish` where d_name = #{d_name}
    </select>
    <select id="showAllDishes" resultType="Dish">
        select * from `dish`
    </select>
    <select id="searchById" resultType="Dish">
        select * from `dish` where d_id = #{d_id}
    </select>
    <select id="showNotSelectDishes" resultType="Dish">
        select *
        from `dish`
        where d_id not in
        (select d_id
        from chose_menu
        where s_id = #{s_id})
    </select>
</mapper>
